.results-wrapper {
  margin-top: 1em;
  position: relative;
}
.overlay {
  color: #FFF;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  padding: 2em 0;
  opacity: 0;
  transition: opacity 1s;
  z-index: -1;
}
.overlay p {
  font-weight: bold;
  font-size: 150%;
}
.overlay.active {
  opacity: 1;
  z-index: 100;
}
.blue-bar-separator {
  background-color: #dae9f3;
  min-height: 6px;
  width: 100%;
  margin-bottom: 1em;
  margin-top: 6px;
}

.result .title {
  color: #175f8f;
  font-weight: bold;
  text-shadow: rgb(0 0 0 / 35%) 1px 3px 5px;
}
.result .author {
  color: #48692B;
  font-weight: bold;
  text-shadow: rgb(0 0 0 / 25%) 1px 3px 5px;
}
.result .publisher-info, .result .journal-info {
  text-shadow: rgb(0 0 0 / 25%) 1px 3px 5px;
}
.result .extra-info {
  color: #175f8f;
  text-shadow: rgb(0 0 0 / 25%) 1px 3px 5px;
}
.result hr {
  margin: 1em 0;
}