.blue-bar {
  background-color: #cee4ee;
  padding: 12px 16px;
}
.blue-bar h2 {
  margin: 0;
}
.term-form {
  margin-top: 1em;
}
.term-form label {
  display: block;
  font-weight: 600;
}
.term-form input {
  width: 100%;
}
.term-form .controls {
  display: grid;
  grid-template-columns: 85% 10%;
  grid-column-gap: 5%;

}