.blue-bar {
  background-color: #cee4ee;
  padding: 12px 16px;
}
.blue-bar h2 {
  margin: 0;
}
.term-form {
  margin-top: 1em;
}
.term-form label {
  display: block;
  font-weight: 600;
}
.term-form input {
  width: 100%;
}
.controls {
  display: flex;
  gap: 2%;
}
.controls input, .controls textarea {
  flex-grow: 1;
  border-radius: 0;
}
.controls input {
  border: 1px solid;
  padding-left: 16px;
}
.controls textarea {
  resize: none;
}
.controls .button {
  align-self: flex-start;
}
.controls select {
  padding-left: 16px;
  font-weight: bold;
  border-radius: 0;
}
.controls .search {
  min-width: 165px;
  display: flex;
  align-items: center;
}
.inner-container {
  display: flex;
  flex-grow: 1;
}