html {
  font-family: sans-serif;
}
#app {
  max-width: 800px;
  margin: auto;
}
.section-title {
  color: #333;
}

.button {
  background-color: #175f8f;
  color: #fff;
  border: 0;
  padding: 6px;
  min-width: 75px;
  cursor: pointer;
}
.button[disabled] {
  background-color: #a9abad;
  cursor: not-allowed;
}