@font-face {
  font-family: "Open Sans";
  src: url('../assets/fonts/OpenSans-Regular.ttf'),
       url('../assets/fonts/OpenSans-Bold.ttf');
}

html {
  font-family: "Open Sans", sans-serif;
}
#app {
  max-width: 800px;
  margin: auto;
}
.section-title {
  color: #333;
}
.button {
  background-color: #175f8f;
  color: #fff;
  border: 0;
  padding: 8px 12px;
  min-width: 75px;
  cursor: pointer;
  font-size: 85%;
}
.button[disabled] {
  background-color: #a9abad;
  cursor: not-allowed;
}
.container {
  padding: 0 2em;
}
.separator {
  margin: 2em 0 1em;
}