@font-face {
  font-family: "Open Sans";
  src: url('../assets/fonts/OpenSans-Regular.ttf'),
       url('../assets/fonts/OpenSans-Bold.ttf');
}

html {
  font-family: "Open Sans", sans-serif;
}
body {
  padding-top: 1em;
}
#app {
  max-width: 1000px;
  margin: auto;
}
.section-title {
  color: #333;
}
.button {
  background-color: #175f8f;
  color: #fff;
  border: 0;
  padding: 8px 12px;
  min-width: 75px;
  cursor: pointer;
  font-size: 85%;
}
.button[disabled] {
  background-color: #a9abad;
  cursor: not-allowed;
}
.button svg {
  display: inline-block;
  max-width: 15px;
  fill: #FFF;
}
.container {
  padding: 0 2em;
  position: relative;
}
.main-content {
  margin-top: 1em;
}
.separator {
  margin: 2em 0 1em;
}
.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}